*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f1f1f1;
    margin: 0;
}
/* header */
header{
    /* background-color: #333; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
    text-align: start;
}
/* search-bar */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #b0b0b0;
    border-radius: 4px;
    width: 450px;
}
.search-bar select {
    border: none;
    background-color: #b0b0b0;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-right: 1px solid #999;
    cursor: pointer;
    appearance: none;
    outline: none;
}
.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 5px;
    font-size: 14px;
    background-color: #b0b0b0;
    color: white;
    outline: none;
}
.search-bar button {
    background-color: #f0b400;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 2px;
}
.search-bar button img {
    width: 16px;
    height: 16px;
}
/* end search -bar */
header img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
/* logo navbar */
.phone h4{
    text-align: end;
}
.phone{
    color: #333;
}
/* Contact Section */
.contact {
    display: flex;
    gap: 30px;
}

.contact ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.contact li {
    display: flex;
    align-items: center;
}

.contact img {
    width: 25px;
    margin-right: 8px; /* Space between image and text */
}

.contact a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.contact a:hover {
    color: #ff0077;
}
/* end logo navbar */

/* shop-category */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.shop-category-button {
    background-color: #ffb81c;
    color: white;
    margin-left: 40px;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between the burger icon and the text */
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.shop-category-button:hover {
    background-color: #f79c42;
}

/* Burger Icon inside the button */
.burger-icon {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-icon div {
    width: 100%;
    height: 4px;
    background-color: white;
}
.pages{
    margin-left: 100px;
}
.pages ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.pages li {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.pages li img {
    width: 20px;
    margin-right: 8px;
}

.pages li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.pages li a:hover {
    color: #ff0077;
}
.br{
    border-bottom: 5px solid orange;
}

/* background */
#bgd{
    height: 70vh;
    width: 100%;
    background-image: url(../images/Contact/bg.png);
    background-size: cover;
    color: black;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
#bgd p{
    margin-left: 80px;
    margin-top: 60px;
    font-size: 24px;
}
#bgd h2{
    margin-left: 80px;
    font-size: 44px;
    margin-top: 20px;
}
#btn{
    width: 100px;
    margin-left: 80px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #05A227;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    margin: 40px 80px;
}
.location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.group-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.group-ard{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}
.card{
    width: 550px;
    height: 250px;
    background-color: #C4F5FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.card img{
    width: 250px;
    height: 200px;
}
.text-card{
    width: 60%;
}
.card h2{
    font-size: 36px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.card h3{
    font-size: 26px;
    position: relative;
    bottom: 10px;
    left: 20px;
}
.bnt{
    background-color: #DE4034;
    color: #fff;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px;
}
.form h1{
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
form{
    width: 80%;
    padding: 50px;
    border: 1px solid #999;
}
.group-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}
.text{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.text input[type="text"], input[type="email"]{
    background-color: #C4F5FF;
    width: 100%;
    padding: 20px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea textarea{
    background-color: #C4F5FF;
    width: 100%;
    padding: 20px 0px  100px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    resize: vertical;
}
.submit{
    background-color: #2495AB;
    color: #fff;
    padding: 10px 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
}

.group-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}
.img{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.img img{
    cursor: pointer;
}